@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication.Models.FilmsPaginationModel
@using WebApplication.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/Ivi.css">
    <link rel="stylesheet" type="text/css" href="~/css/Ivi2.css">
</head>


<body class="basePage catalog  has-subscription-button">

    @*ВЗЯТО У IVI*@
    <div class="page-wrapper" style="font-family: cursive">
        <div id="root" class="basePage__inner">
            <section class="pageSection pageSection_virtual collections__pageSection collections__pageSection_virtual">
                <div class="pageSection__container">
                    <div class="pageSection__container-inner">
                        <div class="collections__gallery gallery gallery_virtual" style="height: 600px; margin-top: -12px;">
                            <div style="top: 12px; position: absolute; height: 100%; width: 100%; max-height: 100vh;">
                                <ul style="margin-top:0px;max-height:100%" class="gallery__list gallery__list_slimPosterBlock gallery__list_type_poster gallery__gallery__list">
                                    @foreach (Film film in Model.Films)
                                    {
                                        <li class="gallery__item" style="list-style-type: none;">
                                            <a href="/Create/GetFilm?id=@film.Id" class="nbl-slimPosterBlock nbl-slimPosterBlock_type_poster nbl-slimPosterBlock_status_default nbl-slimPosterBlock_iconStatus_none collections__nbl-slimPosterBlock">
                                                <div class="nbl-slimPosterBlock__imageSection">
                                                    <div class="nbl-poster nbl-poster_type_poster nbl-slimPosterBlock__nbl-poster">
                                                        <img class="nbl-poster__image" style='width:173.7px; height:266.6px;' src="@film.UrlImage">
                                                        <div class="nbl-poster__properties">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nbl-slimPosterBlock__textSection">
                                                    <div>@film.Name</div>
                                                </div>
                                            </a>
                                        </li>
                                    }

                                </ul>

                            </div>

                        </div>

                    </div>
                </div>
                @if (Model.PageInfo.PageNumber > 1)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageInfo.PageNumber-1)" style="margin-top: 1%; float: left; margin-left: 3%; font-size: 20px;">
                        &lsaquo; Назад
                    </a>
                }
                @if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageInfo.PageNumber + 1)" style="margin-top: 1%; float: right; margin-right: 3%; font-size: 20px;">
                        Вперед &rsaquo;
                    </a>
                }
            </section>
        </div>
    </div>
</body>



</html>
